@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  html {
    font-size: 14px;

    body {
      height: 100vh;
      width: 100vw;
      font-size: 1rem;
      line-height: 1.5;
      background-image: $main-background;
      color: $text-color;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      overflow-x: hidden;
    }
  }

  body::-webkit-scrollbar {
    display: none;
  }
}
