// Colors
$white: #fff;
$black: #000;
$primary: #ffcc25;
$accent: #07163a;
$accent-dark: #02050f;

// OutSource Colors
$whatsapp: #25d366;

// Text Colors
$text-color: $black;
$text-color-light: $white;
$text-color-primary: $primary;
$text-color-accent: $accent;
$text-color-accent-dark: $accent-dark;

$success: #28a745;
$danger: #dc3545;

// Backgrounds
$main-background: radial-gradient(
  circle 815px at 23.4% -21.8%,
  rgba(9, 29, 85, 1) 0.2%,
  rgba(0, 0, 0, 1) 100.2%
);

$primary-background: #1a191d;
$container-background: #f2f2f2;

// Layout Breakpoints
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1200px;
